<a href="https://colab.research.google.com/github/utsavsharma999/BMI_CALCULATOR-JAVAPROJECT-/blob/main/Python_Experiment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Identifying datatype in a LIST

In [6]:
# Creating a list
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
for a in listu:
  print(type(a))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>

Negative indexing in a List

In [10]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
print(listu[-1])
print(listu[-4])

5
2

Range in a LIST

# Note : In range a to b it will include a but not include b

In [24]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
print(listu[2:5])
print(listu[-4:-1])
print(listu[-1:-4])
print(listu[:])
print(listu[2:])
print(listu[:1]) 
for x in listu:
  print(x)
# List always goes from Left to Right always remember and in the last execution 
# the output is Empty .

['Tanmay', 2, 'Aryan']
[2, 'Aryan', '20']
[]
['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5']
['Tanmay', 2, 'Aryan', '20', '5']
['Utsav']
Utsav
Yash
Tanmay
2
Aryan
20
5

Find wheather an item is in a List or not
Replacing Multiple items in a list

In [28]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']

if "Utsavv" in listu:
  print("Found")
listu[1]="Harsh"
print(listu)

['Utsav', 'Harsh', 'Tanmay', 2, 'Aryan', '20', '5']

Inserting mutiple items in list

In [34]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
listu[2:3]=["Shrishti", "Vaishnavi"]
print(listu)
listu[2:5]=["Shrishti","Vaishnavi","Yuvraj"]
print(listu)

['Utsav', 'Yash', 'Shrishti', 'Vaishnavi', 2, 'Aryan', '20', '5']
['Utsav', 'Yash', 'Shrishti', 'Vaishnavi', 'Yuvraj', 'Aryan', '20', '5']

Append and Insert in a list

In [39]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
#insert
listu.insert(2,"Ladki aa gyi beech me :-)")
print(listu)
#append : This will insert at the last 
listu.append("Mansi")
print(listu)

['Utsav', 'Yash', 'Ladki aa gyi beech me :-)', 'Tanmay', 2, 'Aryan', '20', '5']
['Utsav', 'Yash', 'Ladki aa gyi beech me :-)', 'Tanmay', 2, 'Aryan', '20', '5', 'Mansi']

Finding index of an element

In [42]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
print(listu.index("20"))

5

Extend a list

In [47]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
listy=["Chocklate","Strawberry","Vannila"]

listu.extend(listy)
print(listu)

['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5', 'Chocklate', 'Strawberry', 'Vannila']

Remove a specified ITEM : Works with the Item VALUE NOT WITH THE INDEX
POP : Pop works with the index

In [49]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
listu.remove("Yash")
print(listu)
listu.pop(1)
print(listu)

['Utsav', 'Tanmay', 2, 'Aryan', '20', '5']
['Utsav', 2, 'Aryan', '20', '5']

To delete a Whole lst

In [50]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
print(listu)
del listu
print(listu) 
# this will give us an error

['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5']

NameError: ignored

To clear a list

In [55]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
listu.clear()
print(listu)

[]

Print list items values with their respective index

In [65]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
y = 0
for  x in listu:
  print(y,x)
  y=y+1
print("--------------------------------------------------------")
for a in listu:
  print(listu.index(a),a)
print("--------------------------------------------------------")
for i in range (len(listu)):
  print("listu [",i,"]",listu[i])

0 Utsav
1 Yash
2 Tanmay
3 2
4 Aryan
5 20
6 5
--------------------------------------------------------
0 Utsav
1 Yash
2 Tanmay
3 2
4 Aryan
5 20
6 5
--------------------------------------------------------
listu [ 0 ] Utsav
listu [ 1 ] Yash
listu [ 2 ] Tanmay
listu [ 3 ] 2
listu [ 4 ] Aryan
listu [ 5 ] 20
listu [ 6 ] 5

In [75]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
x=0
while x < len(listu):
  print(listu[x])
  x +=1

Utsav
Yash
Tanmay
2
Aryan
20
5

Sorting a list 
By default it will Sort in Ascending order
# Note this will not sort the list if there are multiple datatypes are there so it will show an error

In [77]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
listu.sort()
print(listu)

TypeError: ignored

Sort in descending order

In [83]:
listu=["Utsav", "Yash", "Tanmay" , "2", 'Aryan' , "20" , '5']
listu.sort(reverse = True)
print(listu)

['Yash', 'Utsav', 'Tanmay', 'Aryan', '5', '20', '2']

Reverse a list

In [86]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
listu.reverse()
print(listu)
str = "Naman" [::-1]
print(str)

['5', '20', 'Aryan', 2, 'Tanmay', 'Yash', 'Utsav']
namaN

In [87]:
listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
newlist  = listu.copy()
print(newlist)
listu.append("Mihir")
print(newlist)
print(listu)

print("---------------------------------------------")

listu=["Utsav", "Yash", "Tanmay" , 2, 'Aryan' , "20" , '5']
mylist=listu
listu.append("Mihir")
print(mylist)
print(listu)

['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5']
['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5']
['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5', 'Mihir']
---------------------------------------------
['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5', 'Mihir']
['Utsav', 'Yash', 'Tanmay', 2, 'Aryan', '20', '5', 'Mihir']